<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_denuncium.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_denuncium_path(@tipo_denuncium) %> |
<%= link_to 'Back', tipo_denuncia_path %>
